<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 别名 -->
    <typeAliases>
        <!-- log实体类 -->
        <typeAlias alias="sysLog" type="com.xiaoyang.pojo.log.SysLog"/>
        <!-- 入参 大map套小map形式 实体类-->
        <typeAlias alias="reqParaMap" type="com.bigheadgo.entity.ReqParaMap"/>
    </typeAliases>

    <!-- mybatis插件 也就是拦截器-->
    <plugins>
        <!-- 分页插件 自定义插件-->
        <plugin interceptor="com.bigheadgo.interceptor.MybatisInterceptor"/>
    </plugins>

</configuration>